:root {
    --dark-gray-color: #45505C;
    --light-blue-color: #62B2A1;
    --light-blue-color: #999999;
    --light-gray-color: #8C8C8E;
    --light-green-color: #E8F2EE;
    color: #ffff;
    color: #000000;
    color: #231F20;
    color: #F6F6F6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
.header{
    height: 82px; /* height of the background */
    width: 100%; /* width of the background */
    background: #FFFFFF; /* white background */
    padding: 0 5%; /* padding of the background (R&L: 5%), (T&B: 0) */
    position: relative; /* positioned relative to its normal position */
}

/* style of the nav bar elements */
nav{
    display: flex; /* To align the elements in auto width and auto height.*/
}

/* Yaqn logo style */
.logo{
    width: 123px; /* logo width size */
}

/* nav-link & list items style */
.nav-links{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 13pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    font-weight: 420; /* font thickness */
    margin-left: 40px; /* the space between the logo and first li */
}

.nav-links li{
    display: inline-block; /* to display list items horizontally */
    margin: 0 17px; /* space between list items */
}

.nav-links li a{
    text-decoration: none; /* remove the underline */
    color: #1A191E; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}

.nav-links li a:hover{
    color: #62B2A1; /* color of hover */
}

/* nav-link-2 & list items style */
.nav-links-2{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 13pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    font-weight: 420; /* font thickness */
    margin-right: 10px; /* the space between the logo and first li */
    position: absolute; /* absolute position */
    right: 20px; /* right margin */
}

.nav-links-2 li{
    display: inline-block; /* to display list items horizontally */
    margin: 0 17px; /* space between list items */
}

.nav-links-2 li a{
    text-decoration: none; /* remove the underline */
    color: #1A191E; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}

#log a:hover{
    color: #CE0000; /* color of hover */
}

#prof a:hover{
    color: #62B2A1; /* color of hover */
}
/* end of header style*/

/* body and content style */
body{

}
.container{
display: flex;
    height: 220px ;
    width: 1213px;
    top: 90px;
    margin-top: 150px;
    margin-left: 120px;
    align-items: center;
    justify-content: space-between;
}
.bottom-image{
    width: 568px;
    height: 202px;
}
/* SERVICES SECTION */
.Services-section h1{
    margin-top: 100px;
    margin-bottom: 30px;
}
.Services-section{
 padding: 80px 0;
    margin-left: 115px;
}

.Services-section .services-cards{
    display: flex;
    gap: 116px;
}
.Services-section{
    margin-right: 25px;
}
/* Detection news page box and photo design */
.button{
    width: 540px;
    height: 222.68px;
    left: 0px;
    top: 33px;
    background: #FFFFFF;
    box-shadow: 0px 16px 40px rgba(112,144,176,0.2);
    border: none;
    border-radius: 10px;
    text-align: left;
    margin-right: 30px;
}
.Services-section .services-card .button .link{
    color: #1A191E;
    text-decoration: none;
}
.Services-section .services-card .link h4{
    margin-top: 20px;
}
.Services-section .services-card img{
    margin-left: 410px;
    margin-top: -190px;
   /* transform: matrix(0.99,-0.14,-0.14,0.99,0,0); */
}
.button:hover{
    border: none;
    color: #62B2A1;
}
/* Report page box and photo design */
.Services-section .services-cardd .button{
    background: #FFFFFF;
    width: 540px;
    height: 222.68px;
    left: 0px;
    top: 43px;
    box-shadow: 0px 16px 40px rgba(112,144,176,0.2);
    border: none;
    border-radius: 10px;
    margin-left: 50px;
}
.Services-section .services-cardd .button .link{
    color: #1A191E;
    text-decoration: none;
}
.button:hover{
    border: none;
    color: #E8F2EE;
}
.Services-section .services-cardd .link h4{
    margin-top: 20px;
}
.Services-section .services-cardd img{
    position: absolute;
     margin-left: 420px;
    margin-top: -140px;
    /* transform: matrix(0.99,-0.13,0.14,0.99,0,0); */
}
.info h4 {
    margin-top: 60px;
    margin-left: 40px;
}
.info p{
    font-family: 'DM Sans';
    font-weight: 500;
    font-size: 18px;
    margin-left: 40px;
    color: #1A191E;
}
/* ABOUT US SECTION */
.aboutus-Section h1{
    margin-top: 90px;
    margin-bottom: 30px;
}
.aboutus-Section{
 padding: 80px 0;
    margin-left: 115px;
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 18px;

}
.aboutus-Section .services-cards{
    background: #FFFFFF;
    box-shadow: 0px 16px 70px rgba(112,144,176,0.3);
    border-radius: 10px;
    margin-right: 20px;
    width: 1280px;
    height: 220px;
}
.aboutus-Section .services-card img{
    margin-top: 30px;
    margin-left: 50px;
    width: 120px;
}
.aboutus-Section .services-card p{
    margin-left: 180px;
    margin-top: -45px;
    text-align: left;
}
.aboutus-Section .services-card p1{
    font-family: "DM Sans";
    font-weight: 500;
    font-size: 18px;
    line-height: 199%;
    margin-left: 50px;
    margin-top: -15px;
}
.aboutus-Section .services-card p2{
    margin-left: 50px;
    line-height: 199%;
}
.aboutus-Section .services-card p3{
    line-height: 199%;
    margin-left: 50px;
}

/* OUR TEAM SECTION */
.Ourteam-section{
    padding: 80px 0;
    margin-left: 115px;
    margin-bottom: 300px;
    margin-top: 90px;
}
.Ourteam-cards{
    margin-top: 40px;
    margin-right: 20px;
}
/* Start of Dr.kashish info */
.Ourteam-section .Ourteam-cards img{
    margin-left: 120px;
}
.Ourteam-section .ourteam-cardk{
    background: #FFFFFF;
     box-shadow: 0px 16px 60px rgba(112,144,176,0.2);
    border-radius: 10px;
    margin-left: 20px;
    width: 280px;
    height: 119px;
}
.Ourteam-section .ourteam-cardk h5{
    top: 50.92%;
    text-align: center;
}
.Ourteam-section .ourteam-cardk p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    letter-spacing: -0.03em;

}
 .Ourteam-section .ourteam-cardk img{
     margin-left: 10px;
 }
.Ourteam-section .social{
    margin-left: 90px;
}

/* Start of Reem Info Design */
.Ourteam-section .Ourteam-cardr img{
    margin-left: 350px;
    margin-bottom: 90px;
}
.Ourteam-section .ourteam-cardrr{
    background: #FFFFFF;
     box-shadow: 0px 16px 60px rgba(112,144,176,0.2);
    border-radius: 10px;
    width: 280px;
    height: 119px;
    top: 45.87%;
    margin-left: 240px;
    margin-top: -90px;
}
.Ourteam-section .ourteam-cardrr h5{
    top: 50.92%;
    text-align: center;
}
.Ourteam-section .ourteam-cardrr p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    letter-spacing: -0.03em;

}
 .Ourteam-section .ourteam-cardrr img{
     margin-left: 10px;
 }
.Ourteam-section .social{
    margin-left: 90px;
}
/* start Tasneem info  */
.Ourteam-section .Ourteam-cardt img{
    margin-left: 370px;
    margin-bottom: 40px;
    margin-top: -820px;

}
.Ourteam-section .ourteam-cardtt{
    background: #FFFFFF;
     box-shadow: 0px 16px 60px rgba(112,144,176,0.2);
    border-radius: 10px;
    width: 280px;
    height: 119px;
    margin-left: 260px;
    /*margin-bottom: 20px;*/
    margin-top: -400px;
}
.Ourteam-section .ourteam-cardtt h5{
    top: 50.92%;
    text-align: center;
}
.Ourteam-section .ourteam-cardtt p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    letter-spacing: -0.03em;

}
 .Ourteam-section .ourteam-cardtt img{
     margin-left: 10px;
 }
.Ourteam-cardt .social img{
    /*margin-left: 90px;*/
    margin-top: -5px;
}
/* start NOURAH info  */
.Ourteam-section .Ourteam-cardn img{
    margin-left: 340px;
    margin-bottom: -80px;
    margin-top: -100px;
}
.Ourteam-section .ourteam-cardnn{
    background: #FFFFFF;
     box-shadow: 0px 16px 60px rgba(112,144,176,0.2);
    border-radius: 10px;
    width: 280px;
    height: 119px;
    top: 45.87%;
    margin-left: 240px;
    /*margin-bottom: 100px; */
    margin-top: 20px;
}
.Ourteam-section .ourteam-cardnn h5{
    top: 50.92%;
    text-align: center;
}
.Ourteam-section .ourteam-cardnn p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    letter-spacing: -0.03em;

}
 .Ourteam-section .ourteam-cardnn img{
     margin-left: 10px;
     margin-bottom: 60px;
 }
.ourteam-cardnn .social img{
    margin-bottom: -100px;
}
/* start Amal info  */
.Ourteam-section .Ourteam-carda img{
    margin-left: 350px;
    margin-bottom: 40px;
    margin-top: -620px;
}
.Ourteam-section .ourteam-cardaa{
    background: #FFFFFF;
     box-shadow: 0px 16px 60px rgba(112,144,176,0.2);
    border-radius: 10px;
    width: 280px;
    height: 119px;
    top: 45.87%;
    margin-left: 240px;
    /*margin-bottom: 100px; */
    margin-top: -300px;
}
.Ourteam-section .ourteam-cardaa h5{
    top: 50.92%;
    text-align: center;
}
.Ourteam-section .ourteam-cardaa p{
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    letter-spacing: -0.03em;

}
 .Ourteam-section .ourteam-cardaa img{
     margin-left: 10px;
     margin-bottom: 60px;
 }
.ourteam-cardaa .social img{
    margin-top: 5px;
}























/* footer style */
.footer{
    height: 280px; /* height of the background */
    width: 100%; /* width of the background */
    background: #45505c; /* background color */
    padding: 0 5%; /* padding of the background (R&L: 5%), (T&B: 0) */
    position: relative; /* positioned relative to its normal position */
}

/* footer logo style */
.Footerlogo{
    width: 340px; /* logo width size */
    position: absolute; /* absolute position */
    bottom: 80px; /* bottom distance */
}

/* horizontal row style */
hr{
    width: 92%; /* hr width */
    border: 0; /* no borders */
    height: 1px; /* hr height */
    background-image: linear-gradient(to right, rgba(1, 1, 1, 0), rgba(255, 255, 255, 0.75), rgba(1, 1, 1, 0)); /* style of hr */
    position: absolute; /* absolute position */
    bottom: 60px; /* bottom distance */
}

/* made by figma style */
#madeBy {
    margin-top: 222px; /* top margin */
    display: flex; /* center */
    justify-content: center; /* center */
    font-family: 'DM Sans', sans-serif; /* font family */
    color: #B7C1C2; /* text color */
}

/* footer nav style */
.footernav {
       display: flex; /* To align the elements in auto width and auto height.*/
}

/* footer-nav-links-1 & list items style */
.footer-nav-links-1{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 15pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    margin-left: 40px; /* the space between the logo and first li */
    position: absolute; /* absolute position */
    bottom: 70px; /* bottom distance */
    right: 380px; /* right distance */
}

.footer-nav-links-1 li {
    display: block; /* to display list items horizontally */
    margin: 17px 0px; /* space between list items */
}

.footer-nav-links-1 a{
    text-decoration: none; /* remove the underline */
    color: #B7C1C2; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}

/* footer-nav-links-2 & list items style */
.footer-nav-links-2{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 15pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    margin-left: 40px; /* the space between the logo and first li */
    position: absolute; /* absolute position */
    bottom: 70px; /* bottom distance */
    right: 170px; /* right distance */
}

.footer-nav-links-2 li {
    display: block; /* to display list items horizontally */
    margin: 17px 0px; /* space between list items */
}

.footer-nav-links-2 a{
    text-decoration: none; /* remove the underline */
    color: #B7C1C2; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}