:root{
  --black-color: #1A191E;
  --River-Bed-color: #45505C;
  --green-color:#308273;
  --Green-Crush-color: #62B2A1;
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background: #F6F6F6;
    margin: 0;
}
.section{
    margin-left: 127px;
    margin-right: 127px;
}
h3{
     margin-left: 127px;
    margin-right: 127px;
    font-family: 'DM Sans', serif;
font-style: normal;
font-weight: 500;
font-size: 44px;
line-height: 110%;
color: #45505C;
}
.SourceName{
    width: 75%;
    position: relative;
    margin-bottom: 100px;
    box-shadow: 0 16px 40px rgba(112, 144, 176, 0.2);
 border-radius: 10px;
    margin-left: 127px;
    margin-right: 127px;
}
.SourceName i{
    position: center;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    font-size: 20px;
    background: #FFFFFF;
}
.SourceName  input{
    width: 100%;
    padding: 16px 40px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: #FFFFFF;
    border-radius: 10px;

}
.PasteText {
        width: 75%;
    position: relative;
    margin-bottom: 100px;
    box-shadow: 0 16px 40px rgba(112, 144, 176, 0.2);
    border-radius: 10px;
        margin-left: 127px;
    margin-right: 127px;
}
.imgeSource{
    margin-left: 97%;
    margin-top: 5px;
    background-color:#F6F6F6;
}
.imgeText{
  margin-left: 97%;
}


       u{
 margin-left: 540px;
    margin-right: 500px;
           margin-top: 20px;
           font-family: 'Tajawal', serif;
font-style: normal;
           color: #8C8C8E;
           font-size: 18px;
}
       p{
           font-family: 'Tajawal', serif;
font-style: normal;
           color: #8C8C8E;
           font-size: 18px;
 margin-right: 97%;
       }
        .button{
        width: 296px;
        height: 48px;
        border-radius: 6px;
        color: #FFFFFF;
        display: inline-block;
        font-size: 22px;
        background: var(--black-color);
            text-decoration: none;
 margin-left: 445px;
    margin-right: 445px;
        }

        .button:hover{
                border: none;
                background: #62B2A1;

        }