/* page style */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header style */
.header{
    height: 82px; /* height of the background */
    width: 100%; /* width of the background */
    background: #FFFFFF; /* white background */
    padding: 0 5%; /* padding of the background (R&L: 5%), (T&B: 0) */
    position: relative; /* positioned relative to its normal position */
}

/* style of the nav bar elements */
nav{
    display: flex; /* To align the elements in auto width and auto height.*/
}

/* Yaqn logo style */
.logo{
    padding-top: 10px;
    width: 123px; /* logo width size */
}

/* nav-link & list items style */
.nav-links{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 13pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    font-weight: 420; /* font thickness */
    margin-left: 40px; /* the space between the logo and first li */
}

.nav-links li{
    display: inline-block; /* to display list items horizontally */
    margin: 0 17px; /* space between list items */
}

.nav-links li a{
    text-decoration: none; /* remove the underline */
    color: #1A191E; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}

.nav-links li a:hover{
    color: #62B2A1; /* color of hover */
}

/* nav-link-2 & list items style */
.nav-links-2{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 13pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    font-weight: 420; /* font thickness */
    margin-right: 10px; /* the space between the logo and first li */
    position: absolute; /* absolute position */
    right: 20px; /* right margin */
}

.nav-links-2 li{
    display: inline-block; /* to display list items horizontally */
    margin: 0 17px; /* space between list items */
}

.nav-links-2 li a{
    text-decoration: none; /* remove the underline */
    color: #1A191E; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}

#log a:hover{
    color: #CE0000; /* color of hover */
}

#prof a:hover{
    color: #62B2A1; /* color of hover */
}
/* end of header style */

/* body and content style */
body{
    background: #F6F6F6; /* page background */
}

/* style of the content */
.content{
    margin-top: 70px; /* space between the H3 and header */
    margin-left: 143px; /* content left margin */
    margin-right: 140px; /* content right margin */
}

/* style of H3 (News Detection title) */
h3{
    padding-bottom: 25px; /* space between H3 and the box */
    font-family: 'DM Sans', sans-serif; /* font family for the H3 */
    font-size: 44px; /* size of the font */
    font-weight: 500; /* font thickness */
    color: #45505C; /* H3 text color */
}

/* style of the placeholders */
::placeholder{
    color: #C5C5C7; /* placeholder text color */
    position: absolute; /* position of the placeholder */
    font-family: 'DM Sans', sans-serif; /* font family for the placeholder */
    font-size: 18px; /* size of the font */
}

/* style of the source input box */
.SourceName input{
    width: 100%; /* to make the two boxes the same width */
    padding: 16px 40px; /* padding of the source input box */
    border: none; /* no borders for the source input box */
    border-radius: 10px; /* border radius of source input box */
    outline: none; /* no borders while writing text in source input box */
    font-size: 18px; /* font size of the source input box */
    font-family: 'DM Sans', sans-serif; /* font family for input */
    color: #8C8C8E; /* input text color */
    background-color: #FFFFFF; /* box background */
    box-shadow: 0 16px 40px rgba(112, 144, 176, 0.1); /* box shadow */
}

/* style of the news input box */
textarea{
    width: 100%; /* to make the two boxes the same width */
    padding: 16px 40px; /* padding of the first text field (box) */
    margin-top: 20px; /* the space between the two boxes */
    margin-bottom: 25px; /* the space between the box and button */
    border: none; /* no borders for the second box */
    border-radius: 10px; /* border radius of the second box */
    outline: none; /* no borders while writing text in box2 */
    font-size: 18px; /* font size of the tow boxes */
    font-family: 'DM Sans', sans-serif; /* font family for input */
    color: #8C8C8E; /* input text color */
    box-shadow: 0 16px 40px rgba(112, 144, 176, 0.1); /* boxes shadow */
}

/* style of the source icon */
.imageSource{
    position: absolute;
    top: 248px; /* top distance */
    right: 154px; /* right distance */
}

/* style of the text icon */
.imageText{
    position: absolute; /* absolute position */
    top: 320px; /* top distance */
    right: 154px; /* right distance */
}

/* 0/500 style */
#number{
    font-family: 'Tajawal', sans-serif; /* font family */
    color: #9A9A9B; /* text color */
    font-size: 18px; /* font size */
    position: absolute; /* absolute position */
    top: 585px; /* top distance */
    padding: 0px 40px; /* padding of the source input box */
}

/* button style */
.button{
    width: 296px; /* button width */
    height: 48px; /* button height */
    background: #1A191E; /* background color */
    border: none; /* no borders */
    border-radius: 6px; /* border radius */
    color: #FFFFFF; /* white color for CHECK text */
    font-family: 'DM Sans', sans-serif; /* font family for CHECK text */
    font-size: 22px; /* font size */
    margin: auto; /* to center the button */
    display: block; /* to center the button */
}

/* button hover style */
.button:hover{
    border: none; /* no borders */
    background: #62B2A1; /* hover color */
}

/* style of Report fake news URL */
u a{
    margin-top: 15px; /* top margin */
    margin-bottom: 140px; /* bottom margin */
    display: flex; /* center */
    justify-content: center; /* center */
    font-family: 'Tajawal', sans-serif; /* font family */
    color: #8C8C8E; /* text color */
    font-size: 18px; /* font size */
}

/* hover of Report fake news URL */
U a:hover {
    color: #62B2A1; /* hover color */
}
/* end of body and content style */

/* pop-up-model style */
.pop-up{
    width: 480px; /* width */
    height: 570px; /* height */
    background: #FFFFFF; /* white background */
    border-radius: 10px; /* border radius */
    position: absolute; /* absolute position */
    top: 54%; /* top distance */
    left: 50%; /* top left */
    transform: translate(-50%, -50%); /* position of the pop up*/
    text-align: center; /* text alignment */
    padding: 0 30px 30px; /* padding */
    filter: drop-shadow(-20px 20px 40px rgba(177, 170, 168, 0.48)); /* box shadow */
    font-family: 'DM Sans', sans-serif; /* font family */
}

/* pop up image style */
.popupImage{
    right: 0px; /* right position */
    top:-1px; /* top position */
    position: absolute; /* absolute position */
    border-radius: 13px; /* border radius */
}

/* h3 style for all popups */
.pop-up h3{
    position: absolute; /* absolute position */
    left: 20%; /* left position */
    right: 20%; /* right position */
    top: 71.5%; /* top position */
    bottom: 20.19%; /* bottom position */
    font-size: 50px; /* font size */
}

/* h3 style for wrong pop up */
#pop-up-wrong h3 {
    font-size: 33px; /* font size */
    left: 10%; /* left position */
    right: 10%; /* right position */
    top: 75%; /* top position */
    bottom: 20.19%; /* bottom position */
}

/* popup paragraph style */
.pop-up p{
    position: absolute; /* absolute position */
    color: #A2A7AD; /* font color */
    left: 12.99%; /* left position */
    right: 12.99%; /* right position */
    top: 85.1%; /* top position */
    bottom: 13.57%; /* bottom position */
    font-family: 'DM Sans'; /* font family */
    font-style: normal; /* font style */
    font-weight: 400; /* font weight */
    font-size: 22px; /* font size */
    line-height: 110%; /* line height */
}

/* cross style */
.pop-up i{
    position: absolute; /* absolute position */
    left: 5.54%; /* left position */
    right: 92.19%; /* right position */
    top: 3.88%; /* top position */
    bottom: 93.55%; /* bottom position */
    font-size: 25px; /* font size */
}

/* hide fake news popup */
#pop-up-fake{
    visibility: hidden;
}

/* hide wrong popup */
#pop-up-wrong{
    visibility: hidden;
}

/* hide wrong popup */
#pop-up-real{
    visibility: hidden;
}

/* footer style */
.footer{
    height: 280px; /* height of the background */
    width: 100%; /* width of the background */
    background: #45505c; /* background color */
    padding: 0 5%; /* padding of the background (R&L: 5%), (T&B: 0) */
    position: relative; /* positioned relative to its normal position */
}

/* footer logo style */
.Footerlogo{
    width: 340px; /* logo width size */
    position: absolute; /* absolute position */
    bottom: 80px; /* bottom distance */
}

/* horizontal row style */
hr{
    width: 92%; /* hr width */
    border: 0; /* no borders */
    height: 1px; /* hr height */
    background-image: linear-gradient(to right, rgba(1, 1, 1, 0), rgba(255, 255, 255, 0.75), rgba(1, 1, 1, 0)); /* style of hr */
    position: absolute; /* absolute position */
    bottom: 60px; /* bottom distance */
}

/* made by figma style */
#madeBy {
    margin-top: 240px; /* top margin */
    display: flex; /* center */
    justify-content: center; /* center */
    font-family: 'DM Sans', sans-serif; /* font family */
    color: #B7C1C2; /* text color */
}

/* footer nav style */
.footernav {
       display: flex; /* To align the elements in auto width and auto height.*/
}

/* footer-nav-links-1 & list items style */
.footer-nav-links-1{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 15pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    margin-left: 40px; /* the space between the logo and first li */
    position: absolute; /* absolute position */
    bottom: 70px; /* bottom distance */
    right: 380px; /* right distance */
}

.footer-nav-links-1 li {
    display: block; /* to display list items horizontally */
    margin: 17px 0px; /* space between list items */
}

.footer-nav-links-1 a{
    text-decoration: none; /* remove the underline */
    color: #B7C1C2; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}

/* footer-nav-links-2 & list items style */
.footer-nav-links-2{
    padding: 29px 0; /* padding of the nav-bar elements (T&B: 28px) (R&L: 0), to align middle the elements with nav-bar */
    font-size: 15pt; /* size of the font */
    font-family: 'DM Sans', sans-serif; /* font family for the list items */
    margin-left: 40px; /* the space between the logo and first li */
    position: absolute; /* absolute position */
    bottom: 70px; /* bottom distance */
    right: 170px; /* right distance */
}

.footer-nav-links-2 li {
    display: block; /* to display list items horizontally */
    margin: 17px 0px; /* space between list items */
}

.footer-nav-links-2 a{
    text-decoration: none; /* remove the underline */
    color: #B7C1C2; /* text color of the list items */
    padding: 5px 0; /* padding to click the item */
}