




.form__input {
         width: 531px;
         border: none;
         border-bottom: 2px solid #45505C;
         font-size: 20px;
         margin: 30px 10px 10px 455px;

}

.form__input:focus {
          outline:none;
          border-bottom: 2px solid #62B2A1;
}

.form__button {
                width: 296px;
                height: 48px;

                background: #1A191E;
                border: none;
                border-radius: 6px;
                color: #FFFF;
                font-family: 'DM Sans';
                font-size: 22px;
                 margin-left: 571px;
    margin-right: 571px;
    margin-top: 32px;
}

.form__button:hover {
                 border: none;
                background: #62B2A1;
}

.imgePerson{
    margin-left: 665px;
    margin-right: 665px;
    margin-bottom: 32px;
}

