<!doctype html>
<html lang="en">
<!-- head -->
<head>
  <!-- page and view-port setting -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- page title and icon -->
    <link rel="icon" href="../images/Q7.svg">
    <title>Login</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@500&display=swap" rel="stylesheet">

    <!-- link to CSS file -->
    <link rel="stylesheet" href="../static/Login_SignUp.css">
</head>

<!-- body -->
<body>
    <!-- left section -->
    <div id="background">
        <img class="Q-register" src="../images/Q-register.svg">
    </div>

    <!-- right section (login form) -->
    <div class="rightSection">
        <form class="loginForm">
            <img class="loginTitle" src="../images/LOGIN.svg"> <br>
            <input aria-describedby="emailHelp"class="input_field" id="exampleInputEmail1" placeholder="Email" type="email"> <br>
            <input class="input_field" id="exampleInputPassword1" placeholder="Password" type="password"> <br>
            <button class="button" type="submit">Login</button>
            <p>Don't have an account?  <a class="a"  href="SignupPage.html">Sign up</a></p>
        </form>
    </div>
</body>
</html>

