<!doctype html>
<html lang="en">

<!-- head -->
<head>
  <!-- page and view-port setting -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- page title and icon -->
    <link rel="icon" href="../images/Q7.svg">
    <title>Sign up</title>

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Inter:wght@500&display=swap" rel="stylesheet">

    <!-- link to CSS file -->
    <link rel="stylesheet" href="Login_SignUp.css">
</head>

<!-- body -->
<body>
    <!-- left section -->
    <div id="background">
            <img class="Q-register" src="../images/Q-register.svg">
    </div>

    <div class="rightSection">
        <form class="signupForm">
            <img src="../images/Signup.svg">
            <input type="firstName"placeholder="First Name" class="input_field" id="firstName" >
            <input type="lastName"placeholder="Last Name" class="input_field" id="lastName" >
            <input type="email"placeholder="Email" class="input_field" id="exampleInputEmail1" aria-describedby="emailHelp">
            <input type="password" placeholder="Password" class="input_field" id="exampleInputPassword1">
            <button type="submit" class="button">Sign up</button>
            <p>Do you have an account?  <a class="a"  href="LoginPage.html">Login</a></p>
        </form>
    </div>
</body>
</html>